.visualizr-card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.visualizr-card-content {
  padding: .75rem;
  background-color: rgba(0, 0, 0, 0);
}
