<div class="header w-65 mx-auto">
  <button [disabled]="!file" class="button is-small is-outlined is-danger w-10 flex-center" (click)="remove()">
    Remove
  </button>
  <div class="flex-center flex-column w-80">
    <h5 class="is-size-5">Upload a file</h5>
    <hr class="navbar-divider w-75 mx-auto">
  </div>
  <button [disabled]="!file" class="button is-small is-outlined is-info w-10 flex-center" (click)="remove()">
    Download
  </button>
</div>
<div class="card has-background-grey-dark mt-2">
  <div class="card-content">
    <div class="file has-name is-fullwidth is-small">
      <label class="file-label">
        <input class="file-input" #fileInput (change)="fileChange()" type="file" name="chatText">
        <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label">
            Choose a file…
          </span>
        </span>
        <span class="file-name has-text-light has-text-centered">
          {{file?.name || 'No File Chosen'}}
        </span>
      </label>
    </div>
    <!--    <progress class="progress is-small is-primary mt-3 w-75 mx-auto" value="15" max="100">15%</progress>-->
  </div>
</div>
