<section class="hero is-dark is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <header class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <h1 class="is-size-1 has-text-primary">
              Visualizr
            </h1>
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroC">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroC" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item">
              About
            </a>
            <span class="navbar-item">
              <a class="navbar-item" href="https://gitlab.com/MikeMountain/visualizr" target="_blank">
                <span>View the source on Gitlab</span>
                <span class="icon">
                  <i class="fab fa-github"></i>
                </span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </header>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <app-file-upload></app-file-upload>
      <ng-container *ngIf="fileService.getCurrentChat() | async as currentChat">
        <app-chart [currentChat]="currentChat"></app-chart>
      </ng-container>
    </div>
  </div>
</section>
