$primary: rgb(255, 98, 0);
$info: rgb(43, 105, 204);
$success: rgb(20, 186, 67);
$warning: rgb(255, 164, 18);
$danger: rgb(240, 55, 26);
$dark: rgb(54, 54, 54);
$light: rgb(245, 245, 245);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
