@import "styles/variables/variables";
@import "~bulma/bulma";
@import "styles/components/visualizr-card";
@import "styles/utils/bootstrap-utils";

html {
  overflow: auto;
}

html, body {
  height: 100%;
}
